<section class='w-full mm-grid grid-cols-1 md:grid-cols-2'>
  <div class='flex'>
    {{
      section.settings.hero_image
      | image_url: width: 2400
      | image_tag: class: 'h-auto w-full md:h-full md:w-auto object-cover max-w-none grow'
    }}
  </div>
  <div class='p-10 text-white' style='background-image:{{ section.settings.background_color }};'>
    <h1 class='text-white font-semibold uppercase'>
      {{ section.settings.hero_title }}
      {% if section.settings.hero_span %}
        <span class='text-[#FBEB34] whitespace-nowrap text-[32px] font-script'>{{ section.settings.hero_span }}</span>
      {% endif %}
    </h1>
    <span>{{ section.settings.hero_subtitle }}</span>
  </div>
</section>

{% schema %}
{
  "name": "MM - Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "url",
      "id": "hero_link",
      "label": "Hero Link"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_span",
      "label": "Hero Span"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Subtitle"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text"
    }
  ],
  "presets": [
    {
      "name": "MM - Hero"
    }
  ]
}
{% endschema %}
