<section
  class='w-full mm-grid grid-cols-1 lg:grid-cols-2'
  style='background-image:{{ section.settings.background_color }};'
>
  <div class='flex'>
    {{
      section.settings.hero_image
      | image_url: width: 2400
      | image_tag: class: 'h-auto w-full lg:h-full lg:w-auto object-cover max-w-none lg:max-w-full grow'
    }}
  </div>
  <div
    class='p-10 text-white flex flex-col justify-center items-start w-fit mx-auto'
  >
    <h1 class='text-white font-semibold uppercase text-[8vw] lg:text-[5vw] whitespace-nowrap mb-4'>
      {{ section.settings.hero_title }}
      {% if section.settings.hero_span %}
        <span class='text-[#FBEB34] whitespace-nowrap font-script text-[5vw] lg:text-[2.5vw] inline-flex -mt-1 -rotate-[8deg]'>
          {{- section.settings.hero_span -}}
        </span>
      {% endif %}
    </h1>
    <span class='max-w-[80vw] lg:max-w-[40vw]'>{{ section.settings.hero_subtitle }}</span>
  </div>
</section>

{% schema %}
{
  "name": "MM - Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "url",
      "id": "hero_link",
      "label": "Hero Link"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_span",
      "label": "Hero Span"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Subtitle"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text"
    }
  ],
  "presets": [
    {
      "name": "MM - Hero"
    }
  ]
}
{% endschema %}
