{% assign museum = article.metafields.article.museum.value %}
{% style %}
  dialog {
    border: none;
    max-width: 90%;
    height: 90%;
    margin: auto;
    background-color: transparent;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }
{% endstyle %}
<section class='page-width-desktop mx-auto !px-4 w-full !py-10 lg:!py-20'>
  <div class='mb-10'>
    <h1 class='text-center'>{{ section.settings.title }}</h1>
  </div>
  <photo-gallery class='mm-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5'>
    {% for media in museum.media.value %}
      <div class='gallery-object aspect-square h-fit cursor-pointer' data-index='{{ forloop.index0 }}'>
        <div class='group overflow-hidden h-full w-full' lightbox-toggle>
          <div class='lightbox-object relative h-full w-fit'>
            {{ media | image_url: width: 1200 | image_tag: class: 'h-full w-full object-cover transition' }}
            <div class='caption font-heading bg-black text-white font-semibold py-1 px-2 text-center absolute left-0 right-0 bottom-0'>
              <span class='text-base'>{{ media.alt }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <dialog class='swiper-container h-fit overflow-hidden'>
      <div class='swiper-bound py-10 h-fit min-h-[300px]'>
        {% render 'icon-close-small',
          class: 'icon-close h-8 w-8 absolute z-[100] right-0 top-0 text-white cursor-pointer'
        %}
        <div class='swiper !h-fit !max-h-full flex items-center'>
          <div class='swiper-wrapper flex max-w-full'>
            {% for media in museum.media.value %}
              <div class='swiper-slide flex flex-col max-h-full h-fit' data-index='{{ forloop.index0 }}'>
                <div class='flex flex-col justify-center items-center max-h-full h-fit w-fit mx-auto'>
                  <div class='relative overflow-hidden max-h-[600px] h-full'>
                    {% render 'icon-zoom', class: 'absolute bottom-5 right-5 zoom-icon z-10 cursor-pointer' %}
                    <div class='swiper-zoom-container'>
                      {{
                        media
                        | image_url: width: 1200
                        | image_tag: class: 'slide-img !max-h-[600px] h-full w-auto object-contain'
                      }}
                    </div>
                  </div>
                  <div class='flex justify-center text-white'>
                    <span class='text-white font-heading font-semibold'>{{ media.alt }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <button
            type='button'
            class='rounded-none block swiper-button swiper-button-prev text-white p-2 bg-black w-8 h-8 absolute left-0 transition duration-500'
          >
            {% render 'icons', icon_name: 'icon-chevron-left', class: 'swiper-button' %}
          </button>
          <button
            type='button'
            class='rounded-none block swiper-button swiper-button-next text-white p-2 bg-black w-8 h-8 absolute right-0 transition duration-500'
          >
            {% render 'icons', icon_name: 'icon-chevron-right', class: 'swiper-button' %}
          </button>
        </div>
      </div>
    </dialog>
  </photo-gallery>
</section>

{% schema %}
{
  "name": "Photo Gallery",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Photo Gallery"
    }
  ]
}
{% endschema %}
